@font-face {
  font-family: "PT Sans";
  font-style: normal;
  font-weight: 400;
  src: url("../fonts/ptsans-400.woff2") format("woff2");
  font-display: swap;
}

@font-face {
  font-family: "PT Sans";
  font-style: normal;
  font-weight: 700;
  src: url("../fonts/ptsans-700.woff2") format("woff2");
  font-display: swap;
}

.visually-hidden {
  position: absolute;
  width: 1px;
  height: 1px;
  margin: -1px;
  padding: 0;
  border: 0;
  clip: rect(0 0 0 0);
  overflow: hidden;
}

body {
  margin: 0;
  display: flex;
  flex-direction: column;
  min-height: 100%;
  font-family: "PT Sans", sans-serif;
  font-size: 24px;
  line-height: 28px;
  background-color: #F2F2F2;
  color: #000000;
}

.main-container {
  flex-grow: 1;
}

.page-container {
  background-color: #FFFFFF;
  width: 1200px;
  margin: 0 auto;
}

.page-header {
  color: #000000;
}

.header-container {
  padding: 0 70px;
  background-color: #FFFFFF;
}

.logo {
  align-self: flex-start;
  position: absolute;
  z-index: 1;
}

.navigation {
  display: flex;
  margin: 0 auto;
  align-items: center;
  min-height: 64px;
}

.navigation-list {
  margin: 0;
  padding: 0;
  list-style-type: none;
  width: 450px;
  display: flex;
  flex-wrap: wrap;
  margin-left: 168px;
}

.navigation-item {
  position: relative;
}

.navigation-link-current::after {
  content: '';
  position: absolute;
  background-color: #756257;
  height: 2px;
  bottom: -18px;
  left: 16px;
  right: 16px;
}

.navigation-list-user {
  margin: 0;
  padding: 0;
  list-style-type: none;
  width: 268px;
  display: flex;
  flex-wrap: wrap;
  align-items: center;
  margin-left: auto;
}

.navigation-item-user-search {
  min-width: 44px;
  text-align: center;
}

.navigation-item-user-favorites {
  min-width: 44px;
  text-align: center;
}

.navigation-item-user {
 width: 160px;
 height: 36px;
 margin-left: 20px;
 text-align: center;
}

.navigation-link {
  padding: 18px 16px;
  font-family: "PT Sans", sans-serif;
  font-weight: 700;
  font-size: 20px;
  line-height: 24px;
  text-decoration: none;
  color: #000000;
  background-color: #ffffff;
}

.navigation-link-current {
  cursor: default;
}

.navigation-link-search {
 padding: 22px 12px;
}

.navigation-link-favorites {
  padding: 22px 12px;
  position: relative;
}

.navigation-link-favorites::before {
  content: '12';
  font-size: 10px;
  line-height: 20px;
  color: #FFFFFF;
  position: absolute;
  width: 20px;
  height: 20px;
  background-color: #7DB54F;
  border-radius: 50%;
  top: 14px;
  right: 4px;
  bottom: 33px;
  left: 20px;
}

.navigation-link-user {
  padding: 8px 34px;
  font-family: "PT Sans", sans-serif;
  font-weight: 700;
  font-size: 16px;
  line-height: 20px;
  text-decoration: none;
  text-transform: uppercase;
  color: #ffffff;
  text-align: center;
  background-color: #756157;
  border-radius: 4px;
}

.hero {
  width: auto;
  height: 485px;
  margin: 0 auto;
  background-image: url("../images/welcome-bottom.svg"), url("../images/background-mountains.jpg");
  background-repeat: no-repeat, no-repeat;
  background-position: 50% 100%, center;
  background-color: #FFFFFF
}

.welcome-photo {
  display: block;
  margin: 0 auto;
  padding-top: 51px;
  padding-bottom: 25px;
}

.hero-inner-wrapper {
  width: 700px;
  margin: 0 auto;
  margin-top: 69px;
  margin-bottom: 90px;
}

.greeting h2 {
  font-weight: 700;
  font-size: 30px;
  line-height: 36px;
  text-align: center;
  margin: 0;
  margin-bottom: 25px;
}

.greeting p {
  font-weight: 400;
  font-size: 22px;
  line-height: 26px;
  text-align: center;
  margin: 0;
}

.advantages-list-travel {
  margin: 0;
  padding: 0;
  list-style: none;
  display: flex;
}

.attraction {
  display: flex;
}

.attraction-item {
  background-color: #82B3D3;
  color: #ffffff;
  text-align: center;
  padding: 92px 85px 111px 85px;
  position: relative;
  width: 400px;
}

.attraction-item h3 {
  text-transform: uppercase;
  margin: 0;
  margin-bottom: 62px;
}

.attraction-item h3::before {
  content: '';
  position: absolute;
  height: 2px;
  width: 60px;
  background-color: rgba(255, 255, 255, 0.3);
  top: 178px;
  left: 165px;
}

.attraction-item p {
  font-weight: 400;
  font-size: 18px;
  line-height: 21px;
  margin: 0;
}

.advantages-list-travel .advantages-item:nth-child(2) {
  background: rgba(131, 179, 211, 0.2);
}

.advantages-list {
  margin: 0;
  padding: 0;
  display: flex;
  list-style: none;
}

.advantages-item {
  padding: 92px 85px 121px 85px;
  position: relative;
  width: 400px;
}

.advantages-item-home {
  padding: 182px 85px 81px 85px;
}

.advantages-item-food {
  padding: 182px 85px 81px 85px;
}

.advantages-item-present {
  padding: 182px 85px 81px 85px;
}

.advantages-item-home::before {
  content: '';
  position: absolute;
  background-image: url("../images/icon-home.svg");
  width: 75px;
  height: 72px;
  background-repeat: no-repeat;
  top: 80px;
  left: 164px;
}

.advantages-item-food::before {
  content: '';
  position: absolute;
  background-image: url("../images/icon-food.svg");
  width: 74px;
  height: 70px;
  background-repeat: no-repeat;
  top: 80px;
  left: 163px;
}

.advantages-item-present::before {
  content: '';
  position: absolute;
  background-image: url("../images/icon-present.svg");
  width: 64px;
  height: 76px;
  background-repeat: no-repeat;
  top: 80px;
  left: 164px;
}

.advantages-item h3 {
  text-transform: uppercase;
  text-align: center;
  margin: 0;
  margin-bottom: 62px;
}

.advantages-item h3::before {
  content: '';
  position: absolute;
  height: 2px;
  width: 60px;
  background-color: rgba(0, 0, 0, 0.3);
  top: 178px;
  left: 165px;
}

.advantages-item-home h3 {
  margin-bottom: 30px;
}

.advantages-item-food h3 {
  margin-bottom: 30px;
}

.advantages-item-present h3 {
  margin-bottom: 30px;
}

.advantages-item p {
  font-weight: 400;
  font-size: 18px;
  line-height: 21px;
  text-align: center;
  color: #333333;
  margin: 0;
}

.advantages-list .advantages-item:first-child {
  background: rgba(131, 179, 211, 0.12);
}

.advantages-list .advantages-item:last-child {
  background: rgba(131, 179, 211, 0.12);
}

.hotel-search {
  padding: 96px 304px;
}

.hotel-search h2 {
  text-transform: uppercase;
  font-weight: 700;
  font-size: 30px;
  line-height: 36px;
  text-align: center;
  margin-top: 0;
  margin-bottom: 20px;
}

.hotel-search p {
  font-weight: 400;
  font-size: 22px;
  line-height: 26px;
  text-align: center;
  color: #333333;
  margin-top: 0;
  margin-bottom: 54px;
}

.hotel-search-link-wrapper {
  text-align: center;
}

.hotel-search a {
  font-weight: 700;
  font-size: 20px;
  line-height: 36px;
  text-transform: uppercase;
  color: #ffffff;
  text-decoration: none;
  padding: 8px 50px;
  width: 376px;
  height: 52px;
  background-color: #756157;
  border-radius: 4px;
  margin: 0 auto;
}

.subscribe-part {
  background: url("../images/Subscribe-back.png");
  background-repeat: no-repeat;
  background-size: 100%, auto;
  color: #FFFFFF;
  background-color: #000000;
  padding: 96px 258px 104px 258px;
}

.subscribe-part h2 {
  margin: 0;
  text-align: center;
  margin-bottom: 20px;
  text-transform: uppercase;
}

.subscribe-part p {
  text-align: center;
  margin: 0;
  margin-bottom: 54px;
}

.subscribe-form {
  display: flex;
  border: none;
}

.subscribe-input-line {
  background-color: #F2F2F2;
  width: 452px;
  height: 52px;
  border: none;
  border-top-left-radius: 4px;
  border-bottom-left-radius: 4px;
  box-sizing: border-box;
  padding: 14px 0 14px 20px;
  outline: none;
  font-size: 18px;
  line-height: 24px;
}

.subscribe-button {
  border: none;
  width: 232px;
  height: 54px;
  background-color: #82B3D3;
  color: #FFFFFF;
  font-weight: 700;
  font-size: 20px;
  line-height: 36px;
  border-top-right-radius: 4px;
  border-bottom-right-radius: 4px;
  text-transform: uppercase;
}

.page-footer-container {
  width: 1200px;
  margin: 0 auto;
  display: flex;
  justify-content: space-between;
  background-color: #FFFFFF;
}

.page-footer-wrapper {
  width: 1060px;
  margin: 0 auto;
  display: flex;
  align-items: center;
  margin-top: 40px;
  margin-bottom: 30px;
}

.social-list {
  width: 190px;
  display: flex;
  margin-right: 42px;
}

.social-list-item {
  width: 47px;
  text-align: center;
}

.phone {
  font-weight: 400;
  font-size: 40px;
  line-height: 40px;
  text-align: center;
  text-transform: uppercase;
  text-decoration: none;
  color: #000000;
  margin: 0 auto;
}

.footer-logo {
  width: 120px;
  margin-left: auto;
}

.filter-part {
  background-image: url("../images/filter-back.png");
  background-repeat: no-repeat;
  background-size: 100%, auto;
  color: #FFFFFF;
}

.filter-part-wrapper {
  padding: 35px 70px 70px 70px;
}

.title-felter {
  font-weight: 700;
  font-size: 60px;
  line-height: 78px;
  margin: 0;
  margin-bottom: 8px;
}

.breadcrumbs {
  margin-bottom: 40px;
  display: flex;
  position: relative;
}

.breadcrums-home-icon::before {
  content: '';
  position: absolute;
}

.breadcrumbs-link {
  font-weight: 400;
  font-size: 16px;
  line-height: 21px;
  color: #FFFFFF;
  text-decoration: none;
  margin-right: 20px;
}

.sorting-product-wrapper {
  padding: 50px 70px 40px 70px;
  display: flex;
  height: 50px;
}

.search-results {
  margin: 0;
  margin-right: 170px;
}

.select-control {
  margin-right: 70px;
  width: 292px;
  padding: 14px 20px;
  border: 2px solid #E5E5E5;
  border-radius: 4px;
}

.view-selector-part {
  margin-left: auto;
  display: flex;
}

.view-selector {
  display: block;
  width: 48px;
  height: 48px;
  margin-right: 8px;
  text-align: center;
  border: 2px solid #E5E5E5;
  border-radius: 4px;
}

.view-selector:first-child {
  border: 2px solid #000000;
  border-radius: 4px;
}

.view-selector:last-child {
  margin-right: 0;
}

.view {
  padding: 17px 16px;
}

.catalog-filter-title {
  font-weight: 700;
  font-size: 20px;
  line-height: 24px;
}

.catalog-filter {
  display: flex;
}

.catalog-filter-list {
  margin: 0;
  padding: 0;
  list-style: none;
  width: 150px;
}

.catalog-filter-price {
  width: 550px;
}

.control-input {
  font-weight: 400;
  font-size: 18px;
  line-height: 23px;
}

.search-results {
  font-weight: 700;
  font-size: 30px;
  line-height: 36px;
  text-transform: uppercase;
  color: #000000;
}

.select-control option {
  font-weight: 400;
  font-size: 18px;
  line-height: 21px;
  color: #333333;
}

.product-cards-list-wrapper {
  padding: 0 70px;
  display: grid;
  grid-template-columns: repeat(3, 340px);
  gap: 20px;
  margin-bottom: 40px;
}

.product-card {
  padding: 20px;
  border: 1px solid #E6E6E6;
  border-radius: 4px;
}

.product-card-image {
  display: block;
}

.product-card-title {
  font-weight: 700;
  font-size: 24px;
  line-height: 28px;
  color: #000000;
  margin: 16px 0;
}

.hotel-price-wrapper {
  display: flex;
  justify-content: space-between;
  margin-bottom: 16px;
}

.product-card p {
  font-weight: 400;
  font-size: 18px;
  line-height: 21px;
  color: #333333;
  margin: 0;
}

.product-card span {
  font-weight: 400;
  font-size: 18px;
  line-height: 21px;
  color: #333333;
}

.product-card-link {
  text-decoration: none;
}

.button-more-wrapper {
  display: flex;
  justify-content: space-between;
  margin-bottom: 16px;
}

.product-card-button-more {
  font-weight: 700;
  font-size: 16px;
  line-height: 20px;
  text-transform: uppercase;
  background-color: #756157;
  color: #FFFFFF;
  width: 140px;
  height: 37px;
  text-align: center;
  display: flex;
  justify-content: center;
  align-items: center;
  border-radius: 4px;
  text-decoration: none;
}

.product-card-button-favorites {
  background-color: #82B3D3;
  border: none;
  font-weight: 700;
  font-size: 16px;
  line-height: 20px;
  text-transform: uppercase;
  color: #FFFFFF;
  width: 140px;
  height: 37px;
  border-radius: 4px;
  cursor: pointer;
}

.product-card-button-favorites-active {
  background-color: #7DB54F;
  border: none;
  color: #FFFFFF;
  text-transform: uppercase;
  font-weight: 700;
  font-size: 16px;
  line-height: 20px;
  width: 140px;
  height: 37px;
  border-radius: 4px;
  cursor: pointer;
}

.stars-reiting-wrapper {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.reiting {
  font-weight: 400;
  font-size: 16px;
  line-height: 20px;
  text-transform: uppercase;
  color: #333333;
  background-color: #F2F2F2;
  margin: 0;
  width: 140px;
  height: 37px;
  display: flex;
  justify-content: center;
  align-items: center;
  border-radius: 4px;
}

.pagination {
  display: flex;
  padding: 40px 70px 60px 70px;
}

.pagination-link {
  margin-right: 8px;
  width: 60px;
  height: 60px;
  text-decoration: none;
  background-color: #82B3D3;
  border-radius: 4px;
  color: #FFFFFF;
  text-align: center;
  display: block;
  line-height: 60px;
  font-size: 20px;
  font-weight: 700;
}

.ellipsis {
  background-color: #F2F2F2;
  color: #000000;
}

.pagination-link:first-child {
  background-color: #F2F2F2;
  border-radius: 4px;
  color: #000000;
}

.pagination-link:last-child {
  margin-right: 0;
}

.subscribe-catalog {
  padding: 96px 258px 104px 258px;
}

.subscribe-catalog h2 {
  font-weight: 700;
  font-size: 30px;
  line-height: 36px;
  text-transform: uppercase;
  color: #000000;
  text-align: center;
  margin: 0;
  margin-bottom: 20px;
}

.subscribe-catalog p {
  font-weight: 400;
  font-size: 22px;
  line-height: 26px;
  color: #333333;
  text-align: center;
  margin: 0;
  margin-bottom: 54px;
}

.subscribe-catalog button {
  background-color: #82B3D3;
  border: none;
  font-weight: 700;
  font-size: 20px;
  line-height: 36px;
  text-transform: uppercase;
  color: #FFFFFF;
}

.subscribe-email {
  font-weight: 400;
  font-size: 18px;
  line-height: 24px;
  color: #000000;
  opacity: 0.6;
  background-color: #F2F2F2;
}
